 /* ================================ */

 .Users{
    background-color: #ffffff;
    box-shadow: 0 5px 7px 0 rgba(0,0,0,0.16);
    margin: 20px auto;
    padding: 10px;
    border-radius: 10px;

  }
  .Users h3{
  }
  .userCardContents{
  }
  .UserCard{
    background-color: var(--bg-gray);
  }
  .UserCard td{
    padding: 3px;
  }
  .tableUserName{
    width: 100%;
    text-align: center;
    text-align: left; 
  }
  .tableUserEmail{
    color: var(--text-light-gray);
    font-size: .7em;
  }
  .tableHead{
    background-color: var(--text-gray);
    color: white;
    padding: 10px;
    border-radius: 2px;
  }
  .Users td{
    border-radius: 2px;
  }

  @media screen and (max-width: 680px) {
    .userCardFollowAction{

    }
    .Users th, .Users tr,.Users td{
      
        font-size: 14px;
        padding: 3px 0ps;
      }
      .tableHead{
        padding: 5px 0px;
      }
  
      .profileCard th,tr,td{
          width: 20%;
      }
    }