
  /* ================================ */
  /* Profile========================== */
  /* ================================ */
  .Profileleft{
    color: var(--text-gray);
    flex: 7;
    margin: 5px auto;
    display: block;
    width: 100%;
  } 

  .profilePictureWrapper{
    margin-top: 100px;
    position: relative;
  }
  .profilePicture{
    position: absolute;
    bottom: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    box-shadow: 1px 10px 30px -7px rgba(29,211,176,0.75);
-webkit-box-shadow: 1px 10px 30px -7px rgba(29,211,176,0.75);
-moz-box-shadow: 1px 10px 30px -7px rgba(29,211,176,0.75);
    
  }
  .profilePicture img{
    height: 250px;
    width: 250px;
    object-fit: cover;
    border-radius: 50%;
  }
  .profileDetail{
    width: 100%;
  }
  .profileDetail th{
    text-align: center;
    padding: 10px;
    margin: 10px;
  }
  .profileDetail td{
    width: 100%;
    padding: 10px;
    margin: 5px;
  }
  .profileButton{
    font-size: 14px;
    margin-left: 20px;
  }