/* ================================ */
/* imports and varibles================= */
/* ================================ */
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&display=swap');
:root {
  --bg-gray:#F0F1F3;
  --text-light-gray: #919191;
  --text-gray: #808080;
  --green:#1dd3b0
  /* --bg-gray:red;
  --text-light-gray: pink;
  --text-gray: purple;
  --green:brown; */
}
/* ================================ */
/* Globals========================== */
/* ================================ */
*{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}
textarea:focus, input:focus{
  outline: none;
}

  ::-webkit-scrollbar {
    width: 10px;
  }

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

html{
    background-color: var(--bg-gray);
}

Link,a,button,li{
  text-decoration: none;
  color: inherit;
  list-style: none;
  background-color: inherit;
  border: none;
  font-size: inherit;
}
a,button,Link{
  cursor: pointer;
}
.button{
  display:inline-block;
  background-color: var(--green);
  border-radius: 10px;
  color: #ffffff;
  padding: 5px 10px;
  box-shadow: 0 5px 7px 0 rgba(0,0,0,0.16);
  font-weight: 700;
  margin:  auto 10px;
}



 
  .displayNone{
    display: none;
  }
 

