
/* ================================ */
/* Posts========================== */
/* ================================ */
.Posts{
    flex: 7;
    margin: 5px auto;
  }
  @media screen and (max-width: 760px){
    .Posts{
      width: 70%;
    }
    @media screen and (max-width: 450px){
      .Posts{
        width: 100%;
      }
    }
  }
  /* ================================ */
  /* addpost========================== */
  /* ================================ */
    .addPostForm{
      box-shadow: 0 5px 7px 0 rgba(0,0,0,0.16);
      color: var(--text-gray);
      width: 100%;
      background-color: #ffffff;
      border-radius: 10px;
      padding: 10px;
      margin: 5px auto;
      margin-bottom: 40px;
    }
    .addPostForm h3{
      margin: 5px 0px ;
    }
    .addPostForm h3 span{
      color: var(--green);
    }
    .addPostForm textarea{
      color: var(--text-gray);
      border-radius: 10px;
      padding: 20px;
      width:100%;
      resize: none;
      font-size: 16px;
      background-color: var(--bg-gray);
      border: none;
      overflow: auto;
      height: 100%;
      margin-bottom: 10px;
    }
  /* ================================ */
  /* PostCard========================== */
  /* ================================ */
  .PostCard{
    box-shadow: 0 5px 7px 0 rgba(0,0,0,0.16);
    color: var(--text-gray);
    width: 80%;
    background-color: #ffffff;
    border-radius: 10px;
    /* padding: 3px; */
    margin: 15px auto;
  }
  .pcardImg{
    height: 500px;
    width: 100%;
    object-fit: cover;
  }
  .pcardTop{
    padding: 1px 3px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--divider);
  }
  .pcardUser{
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    color: var(--green);
    font-weight: 600;
    padding: 5px;
  }
  .pcardUserName{
    display: inline-block;
    margin: auto 8px;
  }
  .pcardUser img{
    border-radius: 50%;
    height: 40px;
    width: 40px;
    object-fit: cover;
  }
  .pcardDate{
    margin: auto 5px;
    font-size: 10px;
    color: var(--green);
  }
  .pcardStatus{
    border-bottom: 1px solid var(--divider);
    padding: 5px;
  }
  .card-like-cmt{
    display: flex;
    justify-content: space-between;
  }
  .pcardBottom{
    padding:5px 8px ;
    padding-left: 14px;
    display: flex;
    justify-content: space-between;
    margin-top:3px ;
  }
  .likes,.comments{
    margin: 4px 0px;
    display: flex;
    cursor: pointer;
  }
  .likes{
    margin-right: 50px;
  }
  .likeActive{
    color: var(--green);
  }
  .likeIcon, .commentIcon {
    margin: auto 0px;
    margin-right: 5px;
  }
  .likeCount{
    margin: auto 0px;
  }
  .commentSectionBoarder{
    border-top: 1px solid var(--divider);
  }
  .commentSection{
    padding: 5px;
    height: auto;
    transition: 0.5s;
  }
  .commentList{
    margin: 4px;
  }
  .commentDisplay{
    background-color: var(--bg-gray);
    padding: 5px;
    margin: 5px 0px;
    border-radius: 10px;
    display: flex;
  }
  .commenterName{
    border-right: 1px solid var(--text-gray);
    margin: auto 0px;
    padding-right: 10px;
    color: var(--green);
  }
  
  .commentText{
    padding-left: 10px;
  }
  .commentPost{
    display: flex;
  }
  .commentInput{
    width: 100%;
    border: none;
    border-radius: 5px;
    background-color: var(--bg-gray);
    padding: 3px 10px;
  }
  .hideComment{
    height: 0px;
    overflow: hidden;
  }
  .cardButton{
    margin-left: 20px;
  }
  @media screen and (max-width: 820px) {
    .pcardImg{
      height: 350px;
      width: 100%;
      object-fit: cover;
    }
    .PostCard{
      width: 100%;
      font-size: 14px;
    }
    .comments,.likes{
      font-size: 12px;
      margin-right: 35px;
    }
    .cardButton{
      margin: 0px;
      margin-right: 10px;
      margin-right: 5px;
    }
    .likeCount, .commentCount{
      width: 70px;
    }
    .PostCard .button{
      
      font-size: 12px
    }
    @media screen and (max-width: 820px) {
      .comments,.likes{
        font-size: 12px;
        margin-right: 10px;
      }
      .cardButton{
        margin-right: 3px;
      }
    }
  
  }
  .addPostButtonStack{
    width: 100%;
    display: flex;
    justify-content: space-between;
  }