
/* ================================ */
/* Sidebar========================== */
/* ================================ */
.Sidebar{
    box-shadow: 0 5px 7px 0 rgba(0,0,0,0.16);
    position: sticky;
    top: 100px;
    flex: 3;
    background-color: #ffffff;
    padding: 10px;
    margin: 10px;
    height: 80vh;
    overflow: auto;
    border-radius: 10px;
    color: var(--text-gray);
  }
  .sidebarText{
    margin: 5px 0px;
  }
  .sidebarBio{
    padding: 10px;
    background-color: var(--bg-gray);
    border-radius: 5px;
  }
  .Sidebar img{
    max-height: 350px;
    width: 100%;
    object-fit: cover;
  }
  @media screen and (max-width: 780px) {
    .Sidebar{
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
    }
    .Sidebar img{
      width: 100px;
    }
  }
  